.content-copyright-block
  background-color: $copyrightBgColor
  padding-top: 40px
  padding-bottom: 40px
  font-size: 14px

.links-box
  display: flex
  flex-wrap: wrap
  padding-bottom: 10px

  > div
    flex-grow: 1

    &:first-child
      text-align: right
      padding-right: 10px

    &:nth-child(2)
      text-align: left
      padding-left: 10px

    > a
      color: $formButtonBg
      text-decoration: none

      &:hover
        text-decoration: underline

.security-block
  align-items: baseline
  color: $securityBlockTextColor

  > div:first-child
    padding-right: 15px

  > div:nth-child(2)
    padding-left: 15px

    img
      margin-right: 6px

    span
      vertical-align: sub

.payments-methods-box
  border-top: 1px dotted $formFieldColor
  border-bottom: 1px dotted $formFieldColor
  color: $formFieldColor
  padding: 30px 0 40px 0
  margin: 30px 0 24px 0

  .payments-methods-icons
    margin-top: 24px
    text-align: center

    > div
      display: inline-block
      padding: 6px
      vertical-align: baseline

@media screen and (max-width: 576px)

  .links-box
    &.security-policy
      > div
        text-align: center
