.content-desc-block
  padding-top: 40px
  padding-bottom: 40px
  font-family: 'Roboto'
  font-size: 16px

  h2
    font-style: italic
    font-family: 'BebasNeue'
    font-size: 33px
    color: $formFieldColor
    padding-bottom: 10px

.video-container
  position: relative
  padding-bottom: 56.25%
  padding-top: 30px
  height: 0
  overflow: hidden
  margin: 30px 0 40px

.video-container iframe
.video-container object
.video-container embed
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  border: none
