.content-form-block
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), $blockBgColor url('../img/form-block-bg.png') no-repeat center center;
  background-size: cover
  padding-bottom: 30px

.header
  display: flex
  flex-wrap: wrap
  padding-top: 20px
  padding-bottom: 30px

  > div
    flex-grow: 1
    width: 50%

    span
      color: $titleDefColor
      font-size: 24px
      vertical-align: middle
      font-weight: bold
      padding-left: 5px

    &:first-child
      text-align: left

    &:last-child
      text-align: right

.titles-wrapper
  text-align: center
  padding-bottom: 40px

  h1
    font-style: italic
    font-size: 78px
    font-family: 'BebasNeue'

  h2
    margin-top: -25px
    font-family: 'Roboto'

.banners-wrapper
  display: flex
  flex-wrap: wrap
  padding-bottom: 80px

  > div
    text-align: center
    flex-grow: 1
    width: 33%
    height: 100px
    display: inline-table

    > img
      margin-left: auto
      margin-right: auto
      display: block

    > div
      padding-top: 4px
      color: $bannerTextColor

.fieldbox-first-part
.fieldbox-second-part
  input[type=text]
    color: $formFieldColor
    padding: 5px
    border-radius: 5px
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-width: 0
    margin: 2px
    width: 90%

    &.error
      -webkit-box-shadow: 0px 0px 5px 2px rgba(212,49,49,0.75)
      -moz-box-shadow: 0px 0px 5px 2px rgba(212,49,49,0.75)
      box-shadow: 0px 0px 5px 2px rgba(212,49,49,0.75)

.fieldbox-first-part
  text-align: right
  padding-right: 0

.fieldbox-second-part
  text-align: left
  padding-left: 0

.form-button-wrapper
  text-align: center
  padding-top: 15px

.btn
  &.form-button
    background-color: $formButtonBg
    border-bottom: 3px solid $formButtonShadow
    color: $titleDefColor
    font-size: 24px
    width: 50%

    &:hover
      background-color: lighten($formButtonBg, 20%)
      border-bottom-color: lighten($formButtonShadow, 20%)

    &[disabled]
      background-color: lighten($formButtonBg, 40%)
      border-bottom-color: lighten($formButtonShadow, 40%)
      opacity: .90

.form-message
  color: $titleDefColor
  text-align: center

  &.hidden
    display: none

@media screen and (max-width: 768px)

  .fieldbox-first-part
    text-align: center
    padding-right: 15px

  .fieldbox-second-part
    text-align: center
    padding-left: 15px

  .btn
    &.form-button
      width: 60%
      min-width: 250px


  .content-form-block
    h1
      font-size: 60px
    h2
      font-size: 22px

@media screen and (max-width: 576px)

  .content-form-block
    h1
      font-size: 43px
    h2
      font-size: 17px


  .fieldbox-first-part
  .fieldbox-second-part
    input[type=text]
      width: 100%

  .titles-wrapper
    h2
      margin-top: -15px
