@font-face
  font-family: 'BebasNeue';
  src: url('fonts/BebasNeue.eot'); /* IE9 Compat Modes */
  src: url('fonts/BebasNeue.eot?#iefix') format('embedded-opentype'), // IE6-IE8
       url('fonts/BebasNeue.woff2') format('woff2'), // Super Modern Browsers
       url('fonts/BebasNeue.woff') format('woff'), // Pretty Modern Browsers
       url('fonts/BebasNeue.ttf')  format('truetype'), // Safari, Android, iOS
       url('fonts/BebasNeue.svg#svgBebasNeue') format('svg'); // Legacy iOS

body
  background-color: $bgcolor

.content-form-block,
.content-table-block
  h1
  h2
  h3
    color: $titleDefColor
    font-family: sans-serif
    font-size: 24px

.align-center
  text-align: center
