.content-table-block
  background-color: $blockBgColor
  padding-top: 40px
  padding-bottom: 40px

  h2
    font-style: italic
    font-family: 'BebasNeue'
    font-size: 33px

.table-first-cell-gradient-active
  background: #3c4251; /* Old browsers */
  background: -moz-linear-gradient(top, #3c4251 0%, #554647 18%, #844d33 41%, #d05913 74%, #e45c0b 85%, #fa5f02 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3c4251 0%,#554647 18%,#844d33 41%,#d05913 74%,#e45c0b 85%,#fa5f02 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3c4251 0%,#554647 18%,#844d33 41%,#d05913 74%,#e45c0b 85%,#fa5f02 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

.table-first-cell-gradient
  background: #394151 /* Old browsers */
  background: -moz-linear-gradient(top, #394151 0%, #363d4d 18%, #242939 74%, #1e2333 100%) /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #394151 0%,#363d4d 18%,#242939 74%,#1e2333 100%) /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #394151 0%,#363d4d 18%,#242939 74%,#1e2333 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

.table-first-cell-gradient-inverse
  background: #1e2333; /* Old browsers */
  background: -moz-linear-gradient(top, #1e2333 0%, #242939 26%, #363d4d 82%, #394151 100%) /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1e2333 0%,#242939 26%,#363d4d 82%,#394151 100%) /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1e2333 0%,#242939 26%,#363d4d 82%,#394151 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

.table-row-scaffold
  font-family: 'BebasNeue'
  color: $tableHeaderTextColor
  font-size: 18px
  font-style: italic
  display: flex
  flex-wrap: wrap

  > div
    flex-grow: 2
    -webkit-flex-grow: 2
    padding: 12px 0

    &:first-child
      text-align: center

    &:nth-child(2)
      flex-grow: 1
      -webkit-flex-grow: 1

    &:last-child
      text-align: center

    &:nth-child(3)
    &:nth-child(4)
      flex-grow: 6
      -webkit-flex-grow: 6
      justify-content: safe

.table-wrapper
  background-color: $tableBgColor
  padding-bottom: 20px
  position: relative

  .form-button-wrapper
    position: absolute
    bottom: -20px
    width: 100%

  .table-header
    .table-header-row
      @extends .table-row-scaffold

      > div
        display: flex
        flex-wrap: wrap
        flex-direction: row
        align-items: baseline
        justify-content: center

        > .sorting
          display: flex
          flex-direction: column

          > .fa
            height: 2px
            padding-left: 5px
            font-size: 16px
            color: $tableHeaderSortLabelColor
            cursor: hand
            cursor: pointer

            &.active
              color: $tableHeaderSortLabelActiveColor

  .table-body
    padding: 0 8px 30px 8px
    display: table
    width: 100%

    .table-body-row
      display: table-row
      color: $tableBodyTextColor
      font-family: 'Roboto'
      font-style: normal
      border-radius: 4px
      -webkit-border-radius: 4px
      -moz-border-radius: 4px
      margin-bottom: 2px
      // Gradient by CSS
      @extends .table-first-cell-gradient

      > div
        padding: 4px 0
        display: table-cell

        &:first-child
          width: 5%
          text-align: right
          padding-right: 6px
          font-family: 'BebasNeue'
          font-style: italic
          -webkit-border-top-left-radius: 4px
          -moz-border-top-left-radius: 4px
          border-top-left-radius: 4px
          -webkit-border-bottom-left-radius: 4px
          -moz-border-bottom-left-radius: 4px
          border-bottom-left-radius: 4px
          @extends .table-first-cell-gradient-inverse
        &:nth-child(2)
          width: 5%
          transform: skewX(-20deg) translateX(-5px)
          -webkit-transform: skewX(-20deg) translateX(-5px)
          -ms-transform: skewX(-20deg) translateX(-5px)
          -webkit-border-bottom-right-radius: 3px
          -moz-border-bottom-right-radius: 3px
          border-bottom-right-radius: 3px
          -webkit-border-top-right-radius: 3px
          -moz-border-top-right-radius: 3px
          border-top-right-radius: 3px
          padding: 0
          @extends .table-first-cell-gradient-inverse

        &:nth-child(3)
          min-width: 45%
          padding-left: 13%

        &:nth-child(4)
          min-width: 30%
          padding-left: 13%

      // First of three rows, which are styled as active
      &:nth-child(1)
      &:nth-child(2)
      &:nth-child(3)

        > div
          &:first-child
          &:nth-child(2)
            @extends .table-first-cell-gradient-active

        > div
          &:nth-child(3)
          &:nth-child(4)
            font-weight: bold

        > div
          &:nth-child(3)
            color: $formButtonBg

@media screen and (max-width: 576px)

  .table-wrapper
    .table-header
      .table-header-row
        font-size: 16px

        > div
          &:nth-child(3)
            padding-left: 5px

    .table-body
      .table-body-row
        font-size: 14px

        > div
          &:nth-child(2)
            min-width: 8px
          &:nth-child(4)
            padding-left: 10%
